
<% if(noticias.length > 0){ %>
    <%for(let i=0; i < noticias.length; i++){%>

        <div class="card">
            <a href="/noticia/<%=noticias[i].id %>">
                <p>Por <%=noticias[i].autor %></p>
                <h2><%=noticias[i].titulo %></h2>
                <p id="data"><%=format(noticias[i].data_noticia)%></p>
        
                <p><%=noticias[i].resumo %></p>
            </a>
        </div>
    <%}%>
<%}%>